@model IEnumerable<WebCanteenVL.Models.CATEGORY>

@{
    ViewBag.Title = "Thể loại món ăn";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Danh sách Loại món ăn</h2>

<p>
    @Html.ActionLink("Thêm loại món ăn", "Create")
</p>

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i>Data Table Example
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellpadding="0">
                <thead>
                    <tr>
                        <th>Mã Loại món ăn</th>
                        <th>Tên loại món ăn</th>                       
                        <th>Hình ảnh</th>
                        <th>Trạng thái</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Mã Loại món ăn</th>
                        <th>Tên loại món ăn</th>
                        <th>Hình ảnh</th>
                        <th>Trạng thái</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CATEGORY_CODE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CATEGORY_NAME)
                            </td>
                            <td>
                                <img src="@item.IMAGE_URL" width="100px" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.STATUS)
                            </td>
                            <td>
                                @Html.ActionLink("Sửa", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Xoá", "Delete", new { id = item.ID })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Update yesterday at 11:59 PM</div>
</div>